html {
  background-color: white;
}

body {
  margin-top: 70px;
}

h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}



p, h4, h3 {
  color: #5E5C5C;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

a {
  color: #5E5C5C;
}

a:hover {
  color: #5E5C5C;
  text-decoration: none;
}

label {
  font-weight: 400;
}

footer p {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.header {
  background-color: #E53320;
  border: 0;
  color: #E1F5C4;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0;
}

.header img {
  padding: 5px;
  height :50px;
}

.navbar-brand
{
  margin-top: -5px;

}


/*Navigation (search, rating, promotion, about us)*/
.navigation i {
  margin: 10px;
}

/*forms*/
form {
  color: #5E5C5C;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

/*footer*/
footer {
  background-color: #E53320;
  box-shadow: 0 -2px 5px
}

.footer-item {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: 10px;
  text-align: center;

}

#disclaimer {
  font-size: 80%;
  padding: 5px;
  margin: 0;
}
